@import 'frappe-ui/src/fonts/Inter/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* disable webkit tap highlight color */
body {
  -webkit-tap-highlight-color: transparent;
}

html, body {
    color: var(--ink-gray-9);
}

/* global focus style */
:focus-visible {
  outline: 3px solid var(--outline-gray-3);
  outline-offset: 0;
}